<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻热点</title>
	<link rel="stylesheet" type="text/css" href="../css/news.css">
	<style type="text/css">
.bg{
	position: relative;
	background-image: url(../resource/img/PGC/1.jpg);
	background-size: cover;
	height: 650px;
	width: 100%;
	margin-bottom: 60px;
}

</style>
</head>
<body>
	<div class="bg">
		<img src="../resource/img/pgc/overlay.png">
		<h1 class="bg_title">国务院总理李克强答中外记者问题</h1>
	</div>
	<div class="page">
		<div class="title">两会中李克强安民告示：中国养老金发放没有问题，请放心
		</div>
		<div class="text">今天上午十二届全国人大今天上午十二届全国人大今天上午十二届全国人大今天上午十二届全国人大今天上午十二届全国人大今天上午十二届全国人大今天上午十二届全国人大</div>
		<div class="resource clearfix">
			<div class="time">
				<span>2015年10月2日</span>
				<span>人民网</span>
			</div>
			<div class="readmore">
				<a href="${url}">阅读全文</a>
				<div class="arrow"></div>
			</div>
		</div>
		<div class="pic" style="background-image: url(../resource/img/PGC/1.jpg);"></div>
		<div class="pic_desc">两会现场，记者招待区</div>
	</div>
	<footer></footer>


	
</body>
</html>